<h1>Les vaisseaux</h1>
<a class="btn btn-danger" routerLink="/vaisseaux/add">Ajouter un vaisseau</a>

<table class="table table-dark">
  <thead>
    <th>Image</th>
    <th>Nom</th>
    <th>Modèle</th>
    <th>Plus rapide que la lumière</th>
    <th>Nombre de passagers</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let vaisseau of this.vaisseaux">
      <td><img src="{{vaisseau.image}}"></td>
      <td>{{ vaisseau.nom | uppercase }}</td>
      <td>{{ vaisseau.model }}</td>
      <td>{{ vaisseau.lightSpeed?'Oui':'Non' }}</td>
      <td>{{ vaisseau.nbPassenger }}</td>
      <td><a class="btn btn-warning" [routerLink]="['/vaisseaux', vaisseau.id]">En savoir plus</a></td>
      <td><a class="btn btn-primary" [routerLink]="['/vaisseaux/update', vaisseau.id]">Editer</a></td>
      <!-- Bien penser à mettre le .id derriere pour que la supression fonctionne -->
      <td> <a class="btn btn-danger" (click)="deleteVaisseau(vaisseau.id)">Supprimer</a>
      </td>

  </tbody>
</table>

<p class="debug">{{this.vaisseaux | json }}</p> <!-- On affiche tous les objets -->
