<h1>Les planètes</h1>
<!-- routerLink : Equivalent d'un attribut href sur un html. En revanche, il est spécifique à Angular et permet de faire une navigation fluide sans rechargement de la page.
Il prendra en valeur le lien qui changera le composant adéquat dans le fichier app-routing.module.ts -->
<a class="btn btn-danger" routerLink="/planets/add" id="addPlanetLink">Ajouter une planete</a>

<table class="table table-dark">
  <thead>
    <th>Image</th>
    <th>Nom</th>
    <th>Nombre d'habitants</th>
    <th>Allegiance</th>
    <th>Nombre de km depuis la terre</th>
    <th>Action</th>
  </thead>
  <tbody>
    <!-- Equivalent d'une boucle for en Javascript (directive Angular).
    Elle définira une variable qui sera l'élement courant de chaque itération. this.planets correspondra à notre tableau de planets contenu dans le fichier planets.component.ts
    Dans l'exemple ci dessous une ligne de tableau sera affichée pour chaques planètes -->
    <tr id="listPlanets" *ngFor="let planet of this.planets">
      <td><img src="{{planet.image}}"></td>
      <!-- Utilisation d'une Pipe native Angular pour mettre en majuscule le texte -->
      <td>{{ planet.nom | uppercase }}</td>
      <td>{{ planet.nbHabitant }}</td>
      <td>{{ planet.allegiance }}</td>
      <td>{{ planet.nbKmTerre }}</td>
      <!-- routerLink permettra une navigation vers une URL avec des paramètres
      Ici, dans une boucle for, il permettra d'afficher un lien spécifique pour chaque planètes
      Ce lien contiendra l'id de la planète de l'itération courante. -->
      <td><a class="btn btn-warning" [routerLink]="['/planets', planet.id]">En savoir plus</a></td>
      <!-- Même chose qu'au dessus -->
      <td><a class="btn btn-primary" [routerLink]="['/planets/update', planet.id]">Editer</a></td>
      <!-- On utilise ici un évènement onClick. Il appelera la fonction deletePlanet du fichier planets.component.ts
      Cette fonction prendra en paramètre l'objet planet de notre itération courante -->
      <!-- Bien penser à mettre le .id derriere pour que la supression fonctionne -->
      <td> <a class="btn btn-danger" (click)="deletePlanet(planet.id)">Supprimer</a></td>
    </tr>
  </tbody>
</table>

<p class="deb">{{this.planets | json }}</p> <!-- On affiche tous les objets -->
