<!-- Balise form avec une variable de validation de notre formulaire qui est créé et qui s'appelle planeteForm  #planetForm="ngForm" -->
<!-- Cette variable va nous servir à cacher le bouton submit tant que le formulaire n'est pas valide [disabled]="!planetForm.valid"-->
<!-- On a aussi la propritété submitPlanet() qui appelera la fonction submitPlanet de notre composant add-planet.component.ts -->
<div *ngIf="!isLoading">
  <h1>Ajouter une planète</h1>

  <form #planetForm="ngForm" (ngSubmit)="submitPlanet()">

    <!-- On retrouve ici un input avec des règles de validation (required). Ces règles nous permettront de définir une variable qui servira à la validation de notre input (#nom="ngModel") -->
    <!-- On utilisera cette validation afin de cacher ou afficher une div tant que le contenu n'est pas valide -->
    <label for="nom">Renseigner le nom de la planète</label>
    <input type="text" class="form-control" name="nom" id="nom" required [(ngModel)]="planet.nom" #nom="ngModel">

    <label for="id">Renseigner le nombre d'habitants</label>
    <input type="number" class="form-control" name="nbHabitant" id="nbHabitant" required [(ngModel)]="planet.nbHabitant"
      #nombre="ngModel">

    <label for="id">Renseigner le nom de l'Allegiance</label>
    <input type="text" class="form-control" name="allegiance" id="allegiance" required [(ngModel)]="planet.allegiance"
      #allegiance="ngModel">

    <label for="id">Renseigner le nombre de Km par rapport à la Terre</label>
    <input type="number" class="form-control" name="nbKmTerre" id="nbKmTerre" required [(ngModel)]="planet.nbKmTerre"
      #nbKmTerre="ngModel">

    <label for="id">Renseigner une image :</label>
    <input type="string" class="form-control" name="image" id="image" required [(ngModel)]="planet.image"
      #image="ngModel">

    <!-- Ce bouton enchenchera le ngSubmit de notre formulaire, dans notre cas il appelera la fonction submitPlanet() de notre composant add-planet.component.ts -->
    <input [disabled]="!planetForm.valid" type="submit" value="Envoyer" id="submitterPlanet">
  </form>
</div>

<div *ngIf="isLoading">
  <p>Traitement des données....</p>
</div>
