<h1>Editer un vaisseau</h1>

<form #vaisseauForm="ngForm" (ngSubmit)="editVaisseau()">

  <label for="nom">Renseigner le nom du vaisseau</label>
  <input type="text" class="form-control" name="nom" id="nom" required [(ngModel)]="vaisseau.nom" #nom="ngModel">

  <label for="id">Renseigner le modele du vaisseau</label>
  <input type="text" class="form-control" name="modele" id="modele" required [(ngModel)]="vaisseau.model"
    #modele="ngModel">

  <label for="id">Vitesse supérieure à celle de la lumière</label>
  <input type="number" class="form-control" name="vitesse" id="vitesse" required [(ngModel)]="vaisseau.lightSpeed"
    #vitesse="ngModel">

  <label for="id">Renseigner le nombre de passager</label>
  <input type="number" class="form-control" name="nbPassenger" id="nbPassenger" required
    [(ngModel)]="vaisseau.nbPassenger" #nbPassenger="ngModel">

  <label for="id">Renseigner une image</label>
  <input type="string" class="form-control" name="image" id="image" required [(ngModel)]="vaisseau.image"
    #image="ngModel">

  <input [disabled]="!vaisseauForm.valid" type="submit" value="Envoyer">

</form>
