<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/images/logo.jpg" alt="logo su site">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vaisseaux">Vaisseaux</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/planets">Planetes</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Ici nous avons l'utilisation de la Pipe date :
Elle sert à formater une donnée dans la modifiée. Ici le Pipe date nous affichera une date user friendly (30/03/1993) par exemple
Si on utilises des Pipes que l'on à crées, il ne fait pas oublier de vérifier qu'elle soit présentes dans le fichier app.module.ts
Ici, il s'agit d'une Pipe native d'Angular, donc pas besoin d'import
La Pipe date preds en paramètre le format que l'on souhaite afficher -->
<h5>Bonjour {{name}} ({{name | initial }}) nous somme le : {{date | date: "dd/MM/yyyy"}} et il est actuellement
  {{date | date: "hh:mm"}}</h5>
