<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/images/logo.jpg" alt="logo su site">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vaisseaux">Vaisseaux</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/planets">Planetes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vaisseaux/add">Ajouter un vaisseau</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/planets/add">Ajouter une planète</a>
      </li>
    </ul>
  </div>
</nav>
<h5>Bonjour {{name}} ({{name | initial }}) nous somme le : {{date | date: "dd/MM/yyyy"}}</h5>
<!-- Ajout de la date au format désiré -->
